body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

body * {
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

header h1 {
    font-size: 32px;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: center;
}

#center-content {
    display: flex;
}

#guess {
    outline: none;
    color: transparent;
    background-color: transparent;
    border: none;
}

.userguess {
    margin-bottom: 8px;
    /* ugly hack to avoid spaces between inline-blocks */
    font-size: 0;
}

.userguess .letter {
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 32px;
    margin: 0 4px;
    color: white;
    vertical-align: middle;
}

.userguess .status0 {
    background-color: #787c7e;
}

.userguess .status1 {
    background-color: #c9b558;
}

.userguess .status2 {
    background-color: #6aaa63;
}

.hidden {
    display: none;
}

#ghost-input .letter:empty {
    box-shadow: inset 0 0 0 2px #d3d6da;
}

#ghost-input .letter {
    box-shadow: inset 0 0 0 2px #878a8c;
    color: #000;
}